<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947153190366-o49o9ceb5lgp1dso246i4t0o6206ag60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947153190366-o49o9ceb5lgp1dso246i4t0o6206ag60</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>947153190366-6otl8octgkj9q33bki9li30g8d08blqm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzn4LOSQom1itWeyGTGcPfHn-aRwYXN18</string>
	<key>GCM_SENDER_ID</key>
	<string>947153190366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>octal.Pickey</string>
	<key>PROJECT_ID</key>
	<string>picky-260805</string>
	<key>STORAGE_BUCKET</key>
	<string>picky-260805.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947153190366:ios:872320b6ae148c0879314f</string>
	<key>DATABASE_URL</key>
	<string>https://picky-260805.firebaseio.com</string>
</dict>
</plist>