<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pickey.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EE8FE62E643FEA1CA51B1C9798943E9132A188D8</string>
				<key>dateExpires</key>
				<string>01/12/20</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE8FE62E643FEA1CA51B1C9798943E9132A188D8</string>
						<key>dateExpires</key>
						<string>01/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AKSideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8NLTEFLJ2</string>
						<key>name</key>
						<string>Arun Goyal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE8FE62E643FEA1CA51B1C9798943E9132A188D8</string>
						<key>dateExpires</key>
						<string>01/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8NLTEFLJ2</string>
						<key>name</key>
						<string>Arun Goyal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE8FE62E643FEA1CA51B1C9798943E9132A188D8</string>
						<key>dateExpires</key>
						<string>01/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CountryPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8NLTEFLJ2</string>
						<key>name</key>
						<string>Arun Goyal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE8FE62E643FEA1CA51B1C9798943E9132A188D8</string>
						<key>dateExpires</key>
						<string>01/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8NLTEFLJ2</string>
						<key>name</key>
						<string>Arun Goyal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE8FE62E643FEA1CA51B1C9798943E9132A188D8</string>
						<key>dateExpires</key>
						<string>01/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8NLTEFLJ2</string>
						<key>name</key>
						<string>Arun Goyal</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>EE8FE62E643FEA1CA51B1C9798943E9132A188D8</string>
						<key>dateExpires</key>
						<string>01/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W8NLTEFLJ2</string>
						<key>name</key>
						<string>Arun Goyal</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>W8NLTEFLJ2.octal.Pickey</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:pickey.page.link/6BG2</string>
					<string>webcredentials:example.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>W8NLTEFLJ2</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Pickey.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fbdc175f-d030-4532-8655-d837f7400aec</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: octal.Pickey</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>W8NLTEFLJ2</string>
				<key>name</key>
				<string>Arun Goyal</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
